.mainContainer {
    width: 100%;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
}

.section {
    width: 100%;
    padding-top: 3rem;
}

.section:first-of-type {
    background-color: var(--main-bg-hover-color);
}

.sectionTitle {
    /* color: #435065; */
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.divider {
    display: block;
    width: 60px;
    height: 3px;
    background: var(--main-link-hover-color);
    margin: 0 auto;
    margin-bottom: 20px;
}

.sectionComment {
    text-align: center;
    padding-bottom: 40px;
    font-style: italic;
}

.step svg {
    height: 2.1rem;
    width: 2.1rem;
    color: var(--main-link-color);
    margin-right: .5rem;
}

.homeImg {
    height: 400px;
    margin-top: -5rem;
    max-width: inherit;
}

.section ul {
    margin-top: 3rem;
}

.section li {
    padding-bottom: 2rem;
}

.row {
    margin-left: auto;
}

.orderLeft {
    order: 0;
}

.orderRight {
    order: 1;
}

@media (max-width: 768px) {
    .homeImg {
        height: 275px;
        max-width: 100%;
    }
}

@media (max-width: 1199px) {
    
    .stepsCol {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    
    .orderLeft {
        order: 1;
    }
    
    .orderRight {
        order: 0;
    }
    
    .section ul {
        margin-bottom: 3rem;
    }
    
    .homeImg {
        padding: 1rem;
    }
}