.container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e0ff;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 4rem;
  gap: 2.5rem;
  min-width: 320px;
}

.formContainer p {
  margin: 0;
}

.input {
  background-color: #f0f0f0;
  height: 5rem;
  border-radius: 5rem;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.5rem;
  color: #333;
  padding: 0 1.5rem;
}

@media (max-width: 350px) {
  .formContainer {
    min-width: 95vw;
  }
}
