.btnIcon {
  background: none;
  outline: 0;
  border: 0;
}

.btnIcon svg {
  height: 1.6rem;
  width: 1.6rem;
  margin-left: 1rem;
  cursor: pointer;
  color: var(--main-text-color);
  opacity: .6;
  pointer-events: none;
  transition: all .2s;
}

.btnIcon:hover svg {
  opacity: 1;
  color: var(--main-link-color);
}