.header {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 0 6rem !important;
  z-index: 10;
  justify-content: space-between;
  position: sticky;
  background-color: var(--card-bg-color);
  height: 10rem;
}

.headerItem {
  display: flex;
  /* padding: 2rem 1.5rem; */
  flex-shrink: 0;
  align-items: center;
}

.dropdown {
  position: relative;
}

.navbar {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  min-height: 10vh;
  padding: 0 6rem !important;
  z-index: 10;
}

.navbarLink {
  font-size: 2rem !important;
  color: var(--main-link-color);
}

.navbarLink:hover {
  color: var(--main-link-hover-color);
}

.logo {
  font-size: 3rem !important;
  text-decoration: none !important;
  color: var(--main-link-color) !important;
  font-weight: 700;
}

.input {
  margin-right: 1rem;
  font-size: 1.6rem !important;
}

.searchBtn {
  color: #6c63ff;
  border: none;
  background: #fff;
}

.searchDiv {
  position: relative;
}

.searchInput {
  height: 5rem;
  padding-left: 4rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75;
  display: block;
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #6c63ff !important;
  background-color: var(--card-bg-color);
  color: var(--main-text-color);
}

.searchInpIcon {
  position: absolute;
  top: calc(50% - 0.5625rem);
  left: 1rem;
  pointer-events: none;
  color: var(--main-link-hover-color);
}


@media (max-width: 768px) {
  .hide {
    display: none;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 0 .5rem !important;
  }
  
  .logo {
    font-size: 2.4rem !important;
  }
  
  .headerItem:nth-of-type(2) {
    width: 50%;
  }
}

@media (max-width: 360px) {
  .headerItem:nth-of-type(2) {
    width: 40%;
  }
}
