.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 30rem;
  transition: width .6s ease-in-out;
  height: calc(100vh - 10rem);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 5;
  background-color: var(--card-bg-color);
}

.navbarNav {
  margin-top: 2rem;
  margin-left: 10%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 12.5rem);
  position: relative;
}

.navItem {
  width: 100%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.navItem:last-child {
  position: absolute;
  bottom: 1%;
}

.navLink {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--sec-link-color);
  text-decoration: none;
  transition: .3s;
  border: none;
  background: none;
  overflow: hidden;
}

.navLink:hover {
  color: var(--sec-link-hover-color);
}

.linkText {
  margin-left: 1rem;
  font-size: 2rem;
}

.navLink svg {
  width: 2.8rem;
  height: 2.8rem;
  min-width: 2.8rem;
  margin-right: 1.5rem;
  margin-left: .5rem;
}

@media (max-width: 1200px) {
  .navbar {
    width: 5rem;
  }
  
  .navbar:hover {
    width: 30rem;
  }
}

@media(max-width: 768px) {
  .navbar {
    display: none;
  }
}