.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #6c63ff;
    color: #F0F0F0;
    margin-top: 1rem;
    position: absolute;
    bottom: 0;
}

.link {
    margin: 0 2rem;
    text-decoration: none;
    color: inherit;
}

.link:hover {
    color: #f6f9fc;
}

.link svg {
    height: 2.4rem;
    width: 2.4rem;
}